@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@font-face {
    font-family: font1 ;
    src: url(../fonts/JustOldFashion.ttf);
}
.font1{
    font-family: font1;
}
@font-face {
    font-family:font2 ;
    src: url(../fonts/SCRIPTIN.ttf);
}
.font2{
    font-family: font2;
}
.p1{
    font-family: 'Square Peg', cursive;
}